sm/main/default/flows/SM_Create_Billing_Schedules_on_Order_Activation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateBS</name>
        <label>Create Billing Schedules</label>
        <locationX>827</locationX>
        <locationY>249</locationY>
        <actionName>createBillingScheduleFromOrderItem</actionName>
        <actionType>createBillingScheduleFromOrderItem</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>orderItemIds</name>
            <value>
                <elementReference>OrderItemIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>CollectOrderItemIds</name>
        <label>Collect Order Item Ids</label>
        <locationX>576</locationX>
        <locationY>462</locationY>
        <assignmentItems>
            <assignToReference>OrderItemIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_OrderItems.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_OrderItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Is Order Activated?</description>
        <name>Is_Order_Activated</name>
        <label>Is Order Activated</label>
        <locationX>176</locationX>
        <locationY>250</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewStatusCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QueryOrderItems</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NewStatusCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>[SM] Create Billing Schedules on Order Activation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[SM] Create Billing Schedules on Order Activation</label>
    <loops>
        <name>Iterate_OrderItems</name>
        <label>Iterate OrderItems</label>
        <locationX>575</locationX>
        <locationY>247</locationY>
        <collectionReference>OrderItemRecs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CollectOrderItemIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateBS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Query Order Items for Activated Order</description>
        <name>QueryOrderItems</name>
        <label>QueryOrderItems</label>
        <locationX>362</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_OrderItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Order.Id</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
        <outputReference>OrderItemRecs</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <start>
        <locationX>58</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>Is_Order_Activated</targetReference>
        </connector>
        <object>OrderStatusChangedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderItemIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderItemRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderItems</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderItemsRetrieved</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
