sm/main/default/flows/Subscribe_To_Asset_Cancel_Initiated_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Error_Email_0</name>
        <label>Send Email With Error Message</label>
        <locationX>138</locationX>
        <locationY>554</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Iterate_through_errors</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>There was a problem creating your cancellation order. {!Iterate_through_errors.ErrorMessage}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>nathan.patnam@salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error Encountered When Creating Cancellation Order</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_New_Order_Created_Email_0</name>
        <label>Send Email With Cancellation Order ID</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>A new cancellation order has been created. {!CancellationOrderId}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>nathan.patnam@salesforce.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Cancellation Order Created</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Get_Cancellation_Order_ID</name>
        <label>Get Cancellation Order ID</label>
        <locationX>314</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>CancellationOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CancellationRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_New_Order_Created_Email_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Error_Messages</name>
        <label>Get Error Messages</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>GetErrorMessages</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AssetCancelErrorDetailEvents</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_through_errors</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_HasErrors_Field</name>
        <label>Check HasErrors Field</label>
        <locationX>182</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>Get_Cancellation_Order_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cancel Order Created</defaultConnectorLabel>
        <rules>
            <name>Error_Encountered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HasErrors</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Error_Messages</targetReference>
            </connector>
            <label>Error Encountered</label>
        </rules>
    </decisions>
    <interviewLabel>Subscribe To Asset Cancel Initiated Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscribe To Asset Cancel Initiated Event</label>
    <loops>
        <name>Iterate_through_errors</name>
        <label>Loop Through Errors</label>
        <locationX>50</locationX>
        <locationY>434</locationY>
        <collectionReference>GetErrorMessages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Send_Error_Email_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_HasErrors_Field</targetReference>
        </connector>
        <object>AssetCancelInitiatedEvent</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>InvalidDraft</status>
    <triggerOrder>0</triggerOrder>
    <variables>
        <name>CancellationOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetErrorMessages</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssetCancelErrorDtlEvent</objectType>
    </variables>
</Flow>
